# Configuración del entorno
APP_ENV=production

# Configuración de la base de datos
DB_HOST=mysql
DB_NAME=batch_record
DB_USER=root
DB_PASSWORD=

# Configuración de la aplicación
APP_URL=http://localhost:8580
# La ruta se configura automáticamente durante la instalación
APP_PATH=/ruta/nueva/pdn/linux

# Configuración de logs
LOG_LEVEL=info
LOG_PATH=/var/www/html/logs 