body {
  margin-top: 15px;
  margin-left: 35px;
  margin-right: 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.head {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-color: green;
}

.gl {
  display: grid;
  border-style: groove;
  border-width: thin;
  border-radius: 3px;
  text-align: center;
}

.glsbt {
  font-weight: 800;
}

.grid-container {
  grid-template-columns: repeat(3, 1fr) 150px 150px;
  grid-template-rows: repeat(3, 1fr);
}

.logo {
  grid-row-start: 1;
  grid-row-end: 4;
}

.title1 {
  grid-column-start: 2;
  grid-column-end: 4;
  font-weight: 800;
  font-size: x-large;
  text-align: center;
}

.title2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  font-weight: 800;
  font-size: x-large;
  justify-self: center;
  align-content: center;
}

.title3 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: end;
}

.title4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: end;
}

.title5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: end;
}

.title6 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.title7 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}

.title8 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
}

.grid-container-product {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.product {
  grid-column-start: 1;
  grid-column-end: 9;
  text-align: center;
  background-color: green;
  font-weight: 800;
  font-size: x-large;
  text-align: center;
  color: white;
}

.cltitle {
  background-color: green;
  color: white;
  font-weight: bold;
}

.grid-container-sbtitle {
  background-color: coral;
  font-weight: bolder;
  font-size: 22px;
  color: white;
}

.grid-container-micro {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.grid-container-organo {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.grid-container-fisico {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.grid-container-paramfisico {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.check_cert {
  display: inline-flex;
  justify-content: center;
}
