body {
  margin-top: 15px;
  margin-left: 35px;
  margin-right: 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.head {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-color: green;
}
