body {
  margin: 10px;
}

.contenedorEtiquetas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
}

.etiquetasVirtuales {
  display: grid;
  grid-template-columns: 150px 150px 100px 100px;
  border-radius: 5px;
  border: solid;
  border-color: rgb(216, 212, 212);
  border-width: 2px;
}

.etiquetasVirtuales p {
  margin: 0px;
}

#peso {
  border-radius: 5px;
  border: solid;
  border-color: rgb(216, 212, 212);
}
