/* centrar el texto */

.centrado {
  text-align: center;
}

/* no muestra las viñetas */

.contenedor-menu ul {
  list-style: none;
}

/* Ocultar submenus */

.contenedor-menu .nav ul {
  display: none;
}

/* Organizar inputs y label para establecer tiempos */

#frmadTiempos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  margin: 10px;
  text-align: center;
  justify-items: center;
  align-items: baseline;
  justify-content: center;
}

#frmadParametro {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 10px;
  text-align: center;
  justify-items: center;
  align-items: baseline;
  justify-content: center;
}

/* #txtModulo {
  grid-column-start: 1;
  grid-column-end: 2;
} */

#btnguardarCondiciones {
  grid-column-start: 3;
  grid-column-end: 4;
}

/* Organizar inputs y label para establecer tiempos */

form.frmAdicionar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  margin: 10px;
  text-align: center;
  justify-items: center;
  align-items: baseline;
  justify-content: center;
}

form.frmAdicionarMinMax {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  margin: 10px;
  text-align: center;
  justify-items: center;
  align-items: baseline;
  justify-content: center;
}

#desinfectante {
  grid-column-start: 1;
  grid-column-end: 2;
}

#concentracion {
  grid-column-start: 2;
  grid-column-end: 3;
}

#guardarDesinfectante {
  grid-column-start: 3;
  grid-column-end: 4;
}

/* #linea {
  grid-column-start: 1;
  grid-column-end: 2;
} */

/* #densidad {
  grid-column-start: 2;
  grid-column-end: 3;
} */

#guardarDesinfectante {
  grid-column-start: 3;
  grid-column-end: 4;
}

/* organizar maquinaria */
#txtEquipo {
  grid-column-start: 1;
  grid-column-end: 2;
}

#cmbLinea {
  grid-column-start: 2;
  grid-column-end: 3;
}

/* Preguntas */

#txtPregunta {
  grid-column: 1/4;
}

#lblPregunta {
  grid-column: 1/4;
}

#txtRespuesta {
  grid-column: 1/2;
}

/* Organizar seleccion formulas */
.selproductos {
  display: flex;
}

/* organizar adicionar Formula */

#frmadFormulas {
  display: grid;
  grid-template-columns: 120px repeat(2, 1fr) 100px;
  grid-gap: 1em;
  margin: 10px;
  text-align: center;
  justify-items: center;
  align-items: baseline;
  justify-content: center;
}

#guardarFormula {
  grid-column-start: 4;
  grid-column-end: 5;
}

#frmaddMP {
  display: grid;
  grid-template-columns: 100px repeat(2, 1fr);
  grid-gap: 1em;
  margin: 10px;
  text-align: center;
  justify-items: center;
  align-items: baseline;
  justify-content: center;
}

#guardarMP {
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: self-end;
}
